{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}New EBook{% endblock %}

{% block main %}
<div class="container mt-3">

    <h1>Create new EBook</h1>

    
    {{ form_start(form) }}
    {#{ form_row(form) }#}
    {{ include('e_book/_form.html.twig') }}
        <h3>Ressources</h3>
        <ul class="ressources">
            {% for ressources in form.ressources %}
                <li>{{ form_row(ressources.url) }}</li>
                <li>{{ form_row(ressources.type) }}</li>
            {% endfor %}
        </ul>
    {{ form_end(form) }} 

    <a href="{{ path('e_book_index') }}">back to list</a>
</div>

{% endblock %}
