{% extends 'base.html.twig' %}


{% block title %}Admin
{% endblock %}
        {% block stylesheets %}<link href="{{ asset('css/style.css') }}" rel="stylesheet" />{% endblock %}


{% block body %}


		<h1>Admin :</h1>

	<div class="example-wrapper">
                <a href="{{ path('author_index') }}">Author</a>
                <a href="{{ path('user_index') }}">User</a>
                <a href="{{ path('member_index') }}">Member</a>
                <a href="{{ path('employee_index') }}">Employee</a>
                <a href="{{ path('maintenance_index') }}">Maintenance</a>
                <a href="{{ path('document_index') }}">Document</a>
                <a href="{{ path('book_index') }}">Book</a>
                <a href="{{ path('e_book_index') }}">Livre Numérique</a>
                <a href="{{ path('journal_index') }}">Journal</a>
                <a href="{{ path('dvd_index') }}">DVD</a>
                <a href="{{ path('cd_index') }}">CD</a>
                <a href="{{ path('borrowing_index') }}">Emprunt</a>

	</div>
{% endblock %}
