{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    
    {{ form_start(form) }}
    {#{ form_row(form) }#}
    {{ include('book/_form.html.twig') }}
        <h3>Ressources</h3>
        <ul class="ressources">
            {% for ressources in form.ressources %}
                <li>{{ form_row(ressources.url) }}</li>
                <li>{{ form_row(ressources.type) }}</li>
            {% endfor %}
        </ul>
    {{ form_end(form) }} 

    <a href="{{ path('book_index') }}">back to list</a>
{% endblock %}
