{% extends 'base.html.twig' %}

{% block title %}DVD index{% endblock %}

{% block body %}
    <h1>DVD index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cote</th>
                <th>Format</th>
                <th>CodeOeuvre</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for d_v_d in d_v_ds %}
            <tr>
                <td>{{ d_v_d.id }}</td>
                <td>{{ d_v_d.title }}</td>
                <td>{{ d_v_d.cote }}</td>
                <td>{{ d_v_d.format }}</td>
                <td>{{ d_v_d.codeOeuvre }}</td>
                <td>{{ d_v_d.duration ? d_v_d.duration|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('d_v_d_show', {'id': d_v_d.id}) }}">show</a>
                    <a href="{{ path('d_v_d_edit', {'id': d_v_d.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('d_v_d_new') }}">Create new</a>
{% endblock %}
