{% extends 'base.html.twig' %}

{% block title %}DVD{% endblock %}

{% block body %}
    <h1>DVD</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ d_v_d.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ d_v_d.title }}</td>
            </tr>
            <tr>
                <th>Cote</th>
                <td>{{ d_v_d.cote }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ d_v_d.format }}</td>
            </tr>
            <tr>
                <th>CodeOeuvre</th>
                <td>{{ d_v_d.codeOeuvre }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ d_v_d.duration ? d_v_d.duration|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('d_v_d_index') }}">back to list</a>

    <a href="{{ path('d_v_d_edit', {'id': d_v_d.id}) }}">edit</a>

    {{ include('d_v_d/_delete_form.html.twig') }}
{% endblock %}
